<div class="bg-color">
  <div class="section-first">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 ">
          <div class="banner-title">
            <h1>Platform test LOA</h1>
            <p>What do you wanna do?
            <span class="text-typed typed"></span></p>
          </div>
        </div>
      <br>
        <div class="col-xs-12 col-md-4 ">
        <div class="banner-title">
       <!--  <% if @winner != nil%>
            <p>Record <%=@winner.amount*100%>€</p>
            <div class="card"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
              url('<%= cl_image_path @winner.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-category"><%= @winner.player_sku %></div>
            </div>
            <%else%>
            <p>Be the leader ! Show the generosity path</p>
            <%end%>
          <button type="button" class="btn-cta-home animated pulse" data-toggle="modal" data-target=".bd-example-modal-sm">Prove your generosity</button>
        </div> -->


        <img src="https://taleez.com/pics/logos/150x150/YzUxOTU2MTEtYzAyMC00ZDZjLWIwMDYtMjZhZDc5YzIyMDFk_2x.png" alt="">
        </div>
      </div>
    </div>
  </div>
  </div>
  <br>
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 ">
          <!--  <img src="http://igsoft.cluster006.ovh.net/WikiFrCarPack/images/4/47/Twilio-logo-2100x650.png" alt="" class="img-responsive"> -->
          <div class="banner-title2">
            <h1>SMS survey</h1>
       <!--      <p>sms survey</p> -->
       <h2><%= link_to "see NPS results", users_twilio_response_path %></h2>
          </div>

        </div>
      <br>
        <div class="col-xs-12 col-md-4 ">
        <div class="banner-title">


        <%= simple_form_for @user do |f| %>
        <%= f.input :name, label: 'Your username please', error: 'Username is mandatory, please specify one' %>
        <%= f.input :phone, placeholder: '0612131415' %>
        <%= f.input :policy, placeholder: '123456' %>
        <%= f.button :submit, 'send text'  %>
      <% end %>



        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">

    <div class="explain-content">
    <div class="col-xs-12">
      <div class="title-content text-center">
          <h2 id="team_home"> The generosity race</h2>
      </div>
    </div>

<% if @classement.size >= 3%>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="product">
          <div class='product-upvote'>
            <div class='product-count'>1st</div>
          </div>
          <%=cl_image_tag @winner.photo, class: "product-image hidden-xs"%>
          <div class='product-body'>
            <h3><%=@winner.player_sku%></h3>
            <p><strong><%=@winner.amount_cents%>€</strong></p>
          </div>
        </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="product">
          <div class='product-upvote'>
            <div class='product-count'>2nd</div>
          </div>
          <%=cl_image_tag @second.photo, class: "product-image hidden-xs"%>
          <div class='product-body'>
            <h3><%=@second.player_sku%></h3>
            <p><strong><%=@second.amount_cents%>€</strong></p>
          </div>
        </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="product">
          <div class='product-upvote'>
            <div class='product-count'>3rd</div>
          </div>
          <%=cl_image_tag @third.photo, class: "product-image hidden-xs"%>
          <div class='product-body'>
            <h3><%=@third.player_sku%></h3>
            <p><strong><%=@third.amount_cents%>€</strong></p>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
</div>
<%end%>
 -->



<!-- <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <%= simple_form_for [@order] do |f| %>
      <%= f.error_notification%>
      <%= f.input :amount_cents, label: 'How much would you like to give?', autofocus: true, hint: true  %>
      <%= f.input :player_sku,label: false, placeholder: 'Type your name or nickname', autofocus: true, hint: true  %>
      <%= f.input :email, label: false, placeholder: 'Enter a valid email', autofocus: true, hint: true  %>
      <%= f.input :photo, label: false, autofocus: true, hint: true  %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Give!", class: "btn-cta-home" %>
      <% end %>
    </div>
  </div>
</div> -->



<!-- Typed form JS -->
<%= content_for(:after_js) do %>

  <script>
  $(document).ready(function(){
      $(".typed").typed({
        strings: ["POC ?", "MVP ?", "Innovative idea?"],
        startDelay: 2000,
        typeSpeed: 60,
        backSpeed: 90,
        backDelay: 1000
      });

  });
  </script>

<% end %>

